[user]
	email = sicaine@gmail.com
	name = Siegfried Kiermayer
[rerere]
	enabled = 1
[alias]
	diffs = diff --staged
    lg    = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[branch "*"]
  mergeoptions = --ff-only
